.DeletaLancheModal {
    margin-top: -20px;
  }
  
  .DeletaLancheModal > div {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .DeletaLancheModal__foto {
    position: absolute;
    right: 0px;
    bottom: 10px;
    width: 80px;
  }
  
  .DeletaLancheModal__confirmar,
  .DeletaLancheModal__cancelar {
    border: none;
    border-radius: 5px;
    font-family: "Exo", sans-serif;
    padding: 5px;
    max-width: 280px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 48%;
    color: white;
  }
  
  .DeletaLancheModal__confirmar {
    background-color: rgb(56, 3, 247);
  }
  
  .DeletaLancheModal__cancelar {
    background-color: rgb(255, 0, 0);
  }