.LancheListaItem {
    font-family: "Exo";
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.5s;

  }
  
  @media (max-width: 400px) {
    .LancheListaItem {
      width: 210px;
      height: 180px;
    }
  }

  .LancheListaItem--disable {
    box-shadow: 0px 0px 7px rgba(148, 0, 211);
  }
  
  .LancheListaItem--disable,
  .LancheListaItem--disable .LancheListaItem__preco {
    color: gray;
  }
  
  .LancheListaItem--disable .LancheListaItem__badge {
    display: none;
  }
  
  .LancheListaItem--disable img {
    filter: grayscale(100%);
  }
  
  .LancheListaItem--disable button:disabled {
    background-color: gray;
  }
  
  .LancheListaItem__tag {
    background-color: rgb(56, 3, 247) !important;
    color: white !important;
    position:relative;
    font-size: 0.6em;
    border-radius: 5px;
    padding: 5px;
    top: -15px;
    left: -10px;
    letter-spacing: 1px;
  }
  
  .LancheListaItem > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  
  .LancheListaItem__local {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 100%;
  }

  .LancheListaItem__nome {
    font-size: 1.5em;
    font-weight: 600;
    
  }
  
  .LancheListaItem__preco {
    color: rgb(56, 3, 247);
  }
    .LancheListaItem__foto{
    width: 41%;
    padding: 2rem;
  
}
  .img {
    max-width: 100%;
  }
  
  .Acoes {
    display: flex;
    justify-content: space-between;
  }
  
  .Acoes__adicionar,
  .Acoes__remover {
    border: none;
    color: white;
    border-radius: 5px;
    font-family: "Exo", sans-serif;
    padding: 5px;
    max-width: 280px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
  }
  
  .Acoes__remover {
    background-color: red;
  }
  
  .Acoes__adicionar {
    background-color: rgb(76, 58, 141);
  }
  
  .Acoes__adicionar--preencher {
    width: 100%;
  }
  
  .LancheListaItem__badge {
    background-color: greenyellow;
    width: 32px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    color: black;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -17px;
    left: -17px;
  }
  
  .LancheListaItem--deletar {
    box-shadow: 0px 0px 7px rgba(211, 0, 0);
  }
  
  .LancheListaItem__tag--deletar {
    background-color: red !important;
  }